/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Contents
  - General
  - Color Scheme
  - Typography
  - Images
  - Icons
  - Lists
  - Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*==========================================================================
  General
==========================================================================*/
.wrapper {
  margin: 0 auto;
  max-width: 750px;
  width: 85%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*==========================================================================
  Color Scheme
==========================================================================*/

.navbar-inverse #myNavbar li a:hover,
.navbar-inverse #myNavbar li a:focus {
  color: #1bfb1b;
}

.navbar-nav li.active a {
  background-color: #29292c;
}

.person:hover,
.person:focus {
  border-color: #99ff99;
}

/*==========================================================================
  Typography
==========================================================================*/

body {
 font-size: 1.8em;
 font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

/*==========================================================================
  Images
==========================================================================*/
.person {
  border: 5px solid transparent;
  width: 95%;
  max-width: 300px;
  opacity: 0.7;
  margin: 0 auto;
}

.navbar-brand img {
  max-height: 27px;
}

#studio-pic {
  width: 80%;
  max-width: 400px;
  margin: 15px auto;
}

.gallery-pic {
  width: 300px;
  margin-bottom: 10px;
}

/*==========================================================================
  Icons
==========================================================================*/

.social-media {
  width: 2em;
  margin: 0.5em 1em;
}

.button-icon {
  width: 1.5em;
}


/*==========================================================================
  Lists
==========================================================================*/

li {
  text-align: left;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
}
